@import url('assets/fonts/stylesheet.css');

:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
}

:root {
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
    --third-family: "Inter", sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-family);
    font-size: 18px;
}


a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.header{
    display: flex;
    flex-direction: row;
}

/* .page{
    width: 1280px;
    margin-inline: auto;
} */

/* main.main-page{
    width: 1280px;
    margin-inline: auto;
} */

.start-screen{
    background: url(./assets/img/start-screen-gradient-background.jpg);
    background-size: cover;
    padding-top: 24px;
}

.start-screen-part{
    width: 1280px;
    margin-inline: auto;
}

.logo{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-top: 6px;
    align-items: center;
}

.logo-title{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.logo-subtitle{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);

    padding-left: 2px;
}

.nav-grid{
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);

    align-items: center;

    &>ul{
        display: flex;
        list-style: none;
        gap: 36px;
    }

    padding-left: 40px;
    padding-right: 40px;

}

.nav-activate{
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-primary);
}

.nav-other{
    transition: 0.3s;
}

.nav-other:hover{
    color: var(--color-light-xl);
}

.nav-grid>ul>a{
    color: var(--color-dark-s);
}

.not-only-grid{
    display: grid;
    grid-template-columns: 1fr max-content;
    color: var(--color-dark-s);

    padding: 85px 40px 0 40px;
}

.not-only-text{
    display: flex;
    flex-direction: column;
}

.not-only{
    display: flex;
}

.not-only-text h2{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);
    padding-top: 164px;
}

.not-only-text p{
    width: 460px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
    padding-top: 41px;
}

.make-a-friend-btn-container{
    padding-top: 58px;
    /* padding-bottom: 80px; */
}

.button-make-a-friend{
    border-radius: 100px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: var(--color-primary);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);

    padding: 15px 45px;

    transition: 0.3s;
}

.button-make-a-friend:hover{
    background: var(--color-primary-light);
}

.about-the-shelter-grid{

    width: 1280px;
    margin-inline: auto;

    display: grid;
    grid-template-columns: min-content min-content;
    gap: 120px;
    justify-content: center;
    
    padding: 80px 40px 100px 41px;
}

.about-the-shelter-text{
    width: 430px;
    align-content: center;
}

.about-the-shelter-text h2{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.about-the-shelter-text p{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);

    padding-top: 25px;
}

.our-friends-container{
    background: var(--color-light-l);
}

.our-friends{
    width: 1280px;
    margin-inline: auto;

    padding-top: 78px;
    padding-bottom: 60px;
}

.our-friends-title{
    width: 400px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);

    text-align: center;
    margin-inline: auto;

    padding-bottom: 30px;
}

.our-friends-pics-grid{
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-auto-flow: column;
    justify-content: center;
    align-items: baseline;
    column-gap: 90px;
    row-gap: 28px;
    
    border-radius: 9px;
    padding: 30px 35px;

    &>* {
        grid-row: 1/-1;
        display: grid;
        grid-template-rows: subgrid;
        justify-items: center;

        border-radius: 9px;
        background-color: var(--color-light-s);
        padding-bottom: 30px;
        justify-content: space-between;
    }
}

.our-friends-slider-card{
    transition: 0.3s;
}

.our-friends-slider-card:hover{
    
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: var(--color-light-xl);

    &>.learn-more-btn{
        background: var(--color-primary-light);
        border-color: var(--color-primary-light);
    }

    cursor: pointer;
}

.learn-more-btn{
    background-color: transparent;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    padding: 15px 40px;
    width: 187px;
    text-align: center;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
}

.our-friends-pet-name{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}

.our-friends-slider-arrow{
    background-color: transparent;
    & > * {
        grid-row: 1/-1;
        align-self: center;
    }

    margin-top: 25px;
}

.our-friends-slider-arrow>svg{
    color: transparent;
    transition: 0.3s;
    stroke: #F1CDB3;
}

.our-friends-slider-arrow>svg:hover{
    stroke: var(--color-primary-light);
    fill: var(--color-primary-light);
}

.get-rest-btn-container{
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);

    padding-top: 28px;
    padding-bottom: 36px;
}

.get-the-rest-btn{

    background: var(--color-primary);
    border-radius: 100px;
    transition: 0.3s;

    font-family: var(--font-family);

    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);

    text-align: center;
    padding: 15px 45px;
}

.get-the-rest-btn:hover{
    background: var(--color-primary-light);
}

.can-help-our-shelter-container{
    background: var(--color-light-xl);
    width: 1280px;
    margin-inline: auto;
}

.help-shelter-title{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);

    padding-top: 82px;
}

.can-help-our-shelter{
    max-width: 1026;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 120px;
    row-gap: 55px;
    padding: 60px 40px 100px 40px;

    &>*{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;

        &>img{
            width: 60px;
            height: 60px;
        }
    }

    &>* >*{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            letter-spacing: 0.06em;
            text-align: center;
            color: var(--color-dark-l);
    }
}

.donation-wrapper{
    background: var(--color-light-l);
    background-size: cover;
}

.donation{
    width: 1280px;
    margin-inline: auto;
    /* background: var(--color-light-l); */

    display: grid;
    grid-template-columns: max-content 380px;
    justify-content: center;
    align-items: center;

    font-family: var(--font-family);
    font-weight: 400;

    gap: 30px;

    padding-top: 81px;
    padding-bottom: 100px;
}

.donation-text h2{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 128%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);

    padding-bottom: 20px;
}

.donation-bank-name{
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    padding-bottom: 20px;
}

.card-number-donation{
    border-radius: 9px;
    padding: 10px 15px;
    justify-content: center;

    background: var(--color-primary);

    display: inline-flex;
    flex-direction: row;

    gap: 15px;

    &>*{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: var(--color-dark-l);
    }
}

.card-number-donation{
    transition: 0.3s;
}

.card-number-donation:hover{
    background: var(--color-primary-light);
}

.donation-note{
    font-family: var(--second-family);
    font-style: italic;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-dark-m);
    padding-top: 20px;
}

footer{
    background: url(./assets/img/footer-background.png);
    background-size: cover;

    
}

.footer-contacts{
    width: 1280px;
    margin-inline: auto;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, max-content) 1fr;
    align-items: center;

    column-gap: 130px;
    row-gap: 32px;
    padding: 40px 40px 0 40px;

    &>.footer-contact-column{
        display: grid;
        grid-template-rows: subgrid;
        grid-row: 1/-1;
        align-items: center;
    }

    &>img{
        grid-row: 1/-1;
        padding-left: 20px;
    }
}

.footer-contact-point{
    display: flex;
    gap: 18px;
    align-items: center;
    transition: 0.3s;
}

.footer-title{
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);

    padding-top: 19px;
}

.footer-p{
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.footer-contact-point:hover{
    &>.footer-p{
        color: var(--color-primary-light);
    }
}




.logo-pets-title{
    color: var(--color-dark-l);
}

.logo-pets-subtitle{
    color: var(--color-dark-3xl);
}

.nav-grid-pets{
    color: var(--color-dark-l);
    padding-top: 23px;
    padding-bottom: 25px;
}

.nav-other-pets{
    transition: 0.3s;
}

.nav-other-pets:hover{
    color: var(--color-dark-3xl);
}

.nav-grid-pets>ul>a{
    color: var(--color-dark-3xl);
}



.our-friends-wrapper{
    background: var(--color-light-l);
    background-size: cover;
    /* width: 100%; */
}

.our-friends-pets{
    width: 1280px;
    margin-inline: auto;

    /* background: var(--color-light-l); */
    padding-top: 78px;
    padding-bottom: 59px;
}

.our-friends-pets-title{
    padding-top: 5px;
    padding-bottom: 60px;
}

.our-friends-pics-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    row-gap: 30px;
    color: var(--color-light-s);

    &>*{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 9px;
        row-gap: 29px;
        background: var(--color-light-s);

        &>img{
            width: 270px;
            height: 270px;
        }

        padding-bottom: 30px;
    }

    transition: 0.3s;
}

.slider-pets{
    display: flex;
    flex-direction: row;
    gap: 21px;

    justify-content: center;
    padding-top: 55px;
    padding-bottom: 42px;
    margin-inline: auto;
}

.slider-pets-item{
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-dark-s);
    border-radius: 100px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    align-content: center;
    color: var(--color-dark-s);

    transition: 0.3s;
    user-select: none;
}

.slider-pets-current-page{
    color: var(--color-dark-3xl);

    background: var(--color-primary);
    border: 2px solid var(--color-primary);

    cursor: default;
}

.slider-pets-current-page:hover{
    border: 2px solid var(--color-primary-light);
    background: var(--color-primary-light);
}

.slider-pets-next-item{
    border: 2px solid var(--color-primary);
    color: var(--color-dark-3xl);

    cursor: pointer;
}

.slider-pets-next-item:hover{
    background: var(--color-primary-light);
    border-color: var(--color-primary-light);;
}

.slider-pets-inactive-item{
    cursor: not-allowed;
}

html{
    scroll-behavior: smooth;
}

